footer {
    text-align: center;
    font-family: $tipografia;
    color: $colorPrincipal;
    bottom: 0;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: $colorPrincipal;
}
