.Productos {
    height: 400px;
    width: 100vh;
}
.Cocina {
    background-image: url(../Secciones/Cocina.jpg);
    background-position: center center;
    background-size: cover;
}
.Deco {
    background-image: url(../Secciones/Deco.jpg);
    background-position: center center;
    background-size: cover;
}
.Baño {
    background-image: url(../Secciones/Baño.jpg);
    background-position: center center;
    background-size: cover;
}
.Jardin {
    background-image: url(../Secciones/Jardin.jpg);
    background-position: center center;
    background-size: cover;
}
.Limpieza {
    background-image: url(../Secciones/Limpieza.png);
    background-position: center center;
    background-size: cover;
}
.Varios {
    background-image: url(../Secciones/Varios.jpg);
    background-position: center center;
    background-size: cover;
}